<!-- Admin Test Details -->
<!-- <a href="${link:this,'edit',['id' => test.id]}">Edytuj</a> -->

<tal:block metal:define-macro="AdminTestDetails">

<!-- Informacje o tescie -->
<div class="contentboxwraper dropshadow">
	<div class="contentbox">
		<div class="title">
			<h2>${params/Test/name}</h2>
			<div class="titlemeta">
				<span class="info"> Pytań: ${params/Test/questionsCount|string:0} </span>
				<span class="clock"> ${params/Test/duration} min. </span>
				<span class="author"> Edytowany przez: kef </span>
			</div> <!-- titlemeta -->
		</div> <!-- title -->

		<div class="entry" tal:condition="true:params/Test/description">
			<p>${params/Test/description}</p>
		</div> <!-- entry -->
		<div class="clear"></div>
	</div> <!-- contentbox -->
</div> <!-- contentboxwraper -->


<!-- Dodaj/Edytuj Pytanie -->
<div id="commentsbox">
<div id="respond">
	<form id="QuestionForm" method="post" action="${link:this, 'modifyQuestion', ['testId'=>params['Test'].id]}">
	<h3 class="close">Dodaj/Edytuj Pytanie</h3>
	<input type="hidden" name="TestQuestionId" value="${params/QuestionForm/id|nothing}"/>

	<label for="TestQuestionType">Typ <small>(wymagany)</small></label>
	<select tabindex="1" id="TestQuestionType" name="TestQuestionType">
		<option value="php">PHP</option>
		<option value="sql">SQL</option>
		<option value="closed">Zamknięte</option>
		<option value="open">Otwarte</option>
	</select>

	<label for="TestQuestionPoints">Punkty <small>(wymagane)</small></label>
	<input type="text" tabindex="1" id="TestQuestionPoints" name="TestQuestionPoints" value="${params/QuestionForm/points|nothing}"/>

	<label for="TestQuestionText">Pytanie</label>
	<textarea tabindex="3" rows="5" name="TestQuestionText">${params/QuestionForm/text|nothing}</textarea><br/>

	<label for="TestQuestionAnswers">Odpowiedź</label>
	<textarea tabindex="3" rows="5" name="TestQuestionAnswers">${params/QuestionForm/answers|nothing}</textarea><br/>

	</form>
	<a href="#" class="action" id="add_or_edit"><div> Dodaj pytanie </div></a>
	<div class="clear"></div>
</div>
</div>



<!-- Informacje o tescie -->
<div id="QuestionList">
<div class="contentboxwraper dropshadow" tal:repeat="question params/Test/getQuestionsList" id="Question${question/id}">
<div class="contentbox">

	<div class="titlemeta">
		<span class="info"> Typ: ${question/type} </span>
		<span class="info"> Punkty: ${question/points} </span>
		<span class="author"> Edytowane przez: kef </span>
	</div> <!-- titlemeta -->

	<h3>Pytnie</h3>
	<pre>${question/text}</pre>
	<h3>Odpowiedzi</h3>
	<pre>${question/answers}</pre>

	<div class="clear"></div>
</div> <!-- contentbox -->
</div> <!-- contentboxwraper -->


</div>


<script>
$(document).ready(function() {
	var action="${this/getAction}";
	var errors=${exists:params/TestDataError};
	var error_field="${params/TestDataError/field|nothing}";
	var error_decription="${params/TestDataError/error|nothing}";

	if(errors > 0){
		// Nie moge przekazac zwyklego stringa z powodu bledu PHPTala
		// zamienia && na $amp;$amp;
		error_msg=document.createElement('span');
		$(error_msg).text(error_decription).addClass('inline_error');
		$("#Test"+error_field).after(error_msg).addClass('error_field dropshadow');
	}

	if(action != "edit" && errors == 0) {
		$("#QuestionForm").hide();
	} else {
		$("#add_or_edit div").text("Zapisz");
	}

	$("#add_or_edit").click(function() {
		if ($("#QuestionForm").is(":hidden")) {
			$("#QuestionForm").slideDown();
			$("#add_or_edit div").text("Zapisz");
		} else {
			$("#QuestionForm").submit();
		}
     	return false;
	});
	$("h3.close").click(function() {
		$("#QuestionForm").slideUp();
	});
 });
</script>

</tal:block>