<!-- Admin tests list -->

<tal:block metal:define-macro="AdminTestsList">
<div id="AdminTestsList">
<h1>Lista testow</h1>
<div tal:condition="not:true:argv/tests">
	<strong>Nie znaleziono testow</strong>
</div>
<ul tal:condition="true:argv/tests">
	<li tal:repeat="test argv/tests">${test/name} (${test/duration})
		<i tal:condition="exists:test/description">${test/description}</i>
		<a href="${php:RouteHelper::getLink(this, 'edit', array('id' => test.id))}">Edytuj</a>
	</li>
</ul>


Nowy test:
<form method="post" action="${php:RouteHelper::getLink(this)}">
<input type="hidden" name="TestId" tal:condition="true:argv/TestForm/id" value="${argv/TestForm/id}"/>
nazwa: <input type="text" name="TestName" value="${argv/TestForm/name|nothing}"/><br/>
czas trwania: <input type="text" name="TestDuration" value="${argv/TestForm/duration|nothing}"/><br/>
opis: <textarea name="TestDescription">${argv/TestForm/description|nothing}</textarea><br/>
<input type="submit"/>
</form>
</div>

</tal:block>