<!-- Admin Test Details -->
<!-- <a href="${link:this,'edit',['id' => test.id]}">Edytuj</a> -->

<tal:block metal:define-macro="AdminTestDetails">

<!-- Informacje o tescie -->
<div class="contentboxwraper dropshadow">
	<div class="contentbox">
		<div class="title">
			<h2>${params/Test/name}</h2>
			<div class="titlemeta">
				<span class="info"> Pytań: ${params/Test/questionsCount|string:0} </span>
				<span class="clock"> ${params/Test/duration} min. </span>
				<span class="author"> Edytowany przez: kef </span>
			</div> <!-- titlemeta -->
		</div> <!-- title -->

		<div class="entry" tal:condition="true:params/Test/description">
			<p>${params/Test/description}</p>
		</div> <!-- entry -->
		<div class="clear"></div>
	</div> <!-- contentbox -->
</div> <!-- contentboxwraper -->


<!-- Dodaj/Edytuj Pytanie -->
<!-- Laduje formatki do edycji pytan -->
<tal:block
tal:repeat="qType params/AvailableQuestionTypes"
metal:use-macro="QuestionFormMacros.tpl.html/QuestionEditForm_${qType/shortName}" />

<!-- Formularz edycji -->
<div id="commentsbox">
<div id="respond">
	<form id="QuestionForm" method="post" action="${link:this, 'modify', ['testId'=>params['Test'].id]}">
	<h3 class="close">Dodaj/Edytuj Pytanie</h3>
	<input type="hidden" name="TestQuestionId" value="${params/QuestionForm/id|nothing}"/>

	<label for="TestQuestionType">Typ <small>(wymagany)</small></label>
	<select tabindex="1" id="TestQuestionType" name="TestQuestionType">
		<option tal:repeat="qType params/AvailableQuestionTypes" value="${qType/shortName}">${qType/fullName}</option>
	</select>

	<tal:block metal:use-macro="QuestionFormMacros.tpl.html/QuestionEditForm" />
	<div id="QuestionFormArea"></div>

	</form>
	<a href="#" class="action" id="add_or_edit"><div> Dodaj pytanie </div></a>
	<div class="clear"></div>
</div>
</div>


<!-- Lista pytan -->
<div id="QuestionList">
<div class="contentboxwraper dropshadow" tal:repeat="question params/Test/getQuestionsList" id="Question${question/id}">
<div class="contentbox">

	<div class="titlemeta">
		<span class="info"> Typ: ${question/type} </span>
		<span class="info"> Punkty: ${question/points} </span>
		<span class="author"> Edytowane przez: kef </span>
	</div> <!-- titlemeta -->

	<h3>Pytnie</h3>
	<pre>${question/text}</pre>
<tal:block tal:condition="true:question/answerTip">
	<h3>Podpowiedź</h3>
	<pre>${question/answerTip}</pre>
</tal:block>
	<h3>Odpowiedzi</h3>
	<pre>${question/answer}</pre>

	<div class="clear"></div>
</div> <!-- contentbox -->
</div> <!-- contentboxwraper -->


</div>


<script>
$(document).ready(function() {
	var action="${this/getAction}";
	var errors=${exists:params/TestDataError};
	var error_field="${params/TestDataError/field|nothing}";
	var error_decription="${params/TestDataError/error|nothing}";

	//
	// Obsluga wyboru formularza wypenianie pytania
	//
	$("#TestQuestionType").change(questionTypeChange)
	$("#TestQuestionType").val('closed').trigger('change');

	//
	// Obsluga podsiwetlania pola z bledem
	//
	if(errors > 0){
		// Nie moge przekazac zwyklego stringa z powodu bledu PHPTala
		// zamienia && na $amp;$amp; w całym kodzie JS
		error_msg=document.createElement('span');
		$(error_msg).text(error_decription).addClass('inline_error');
		$("#TestQuestion"+error_field).after(error_msg).addClass('error_field dropshadow');
	}

	if(action != "edit" && errors == 0) {
		$("#QuestionForm").hide();
	} else {
		$("#add_or_edit div").text("Zapisz");
	}

	$("#add_or_edit").click(function() {
		if ($("#QuestionForm").is(":hidden")) {
			$("#QuestionForm").slideDown();
			$("#add_or_edit div").text("Zapisz");
		} else {
			$("#QuestionForm").submit();
		}
     	return false;
	});
	$("h3.close").click(function() {
		$("#QuestionForm").slideUp();
	});
});

//
// Obsluga zmiany pol typowych wylacznie dla danego rodzaju pytania
//
function questionTypeChange()
{
	var type = $("#TestQuestionType").val()
	$("#QuestionFormArea").slideUp(200, function(){
		// rozwijamy block z polami dla danego typu
		$(this).html($("#QuestionType_"+type).html()).slideDown(200);

		// jesli dla tego typu jez zdefiniowana funckcja to ja odpalamy
		if(typeof(window["question_"+type+"_func"]) === "function")
			window["question_"+type+"_func"]();
	});
}
</script>

</tal:block>