<!-- Admin main -->
<!-- Original theme: http://jinsonathemes.com/fabs/?themedemo=Womack -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="pl-PL">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name='robots' content='noindex,nofollow' />
<link rel="stylesheet" href="/rekrutacja/style.css" type="text/css" media="screen" />

<title>Rekrutacje - Grupa Allegro</title>

</head>
<body>

<div id="masthead"> 
<div id="top"> 
	<div class="blogname">
		<h1><a href="/rekrutacja" title="Rekrutacja">Rekrutacje - Grupa Allegro</a></h1>
		<!-- <h2></h2> -->
	</div> <!-- blogname -->
</div> <!-- top -->

<div id="catmenucontainer">
	<div id="catmenu" class="menu-primary-container">
	<ul id="menu-primary" class="menu">
		<li><a href="/">Rekrutowani</a></li>
		<li><a href="/">Konfiguracja</a>
			<ul class="sub-menu">
				<li><a href="${link:'TestConfig'}">Testy</a></li>
				<li><a href="${link:'TestConfig'}">Uprawnienia</a></li>
			</ul>
		</li>
	</ul>
	</div>	
</div> <!-- catmenucontainer -->
</div> <!-- Masterhead -->


<div id="wrapper">
<div id="casing">
	<div id="content">

		<div class="post">
			<div class="postincase">
				<div class="title">
					<h2><a href="/" rel="bookmark" title="Link">Tytul posta w h2</a></h2>
					<div class="titlemeta">
						<span class="author"> Posted by jinson </span> <span class="clock"> January - 31 - 2011 </span> <span class="comm"> <a href="/" title="Comment">0 Comment</a> </span> 
					</div> <!-- titlemeta -->
				</div> <!-- title -->
				<div class="entry">
				<a href="/"><img class="postimg" src="/rekrutacja/images/post_img_thumb.jpg" alt="" /></a>
				<p>Nunc ornare dui at metus mattis pulvinar. Nullam tincidunt justo nec libero malesuada eget dapibus lorem facilisis. Nam eu metus auctor augue ornare faucibus. Fusce egestas dui eu est mattis aliquam ornare ipsum malesuada. Morbi pretium quam quis lacus eleifend ultricies. Donec fermentum, massa ut molestie gravida, ipsum metus pretium eros, sodales condimentum dui risus at lectus. Suspendisse potenti. Fusce congue est nec ante eleifend dictum. Praesent in felis at<a href="/">&nbsp;&nbsp;[ Read More ]</a></p>
				<div class="clear"></div>
				</div> <!-- entry -->

				<div class="morer"><a href="/"> Read Full</a></div>
				<div class="clear"></div>
			</div> <!-- postincase -->
		</div> <!-- post -->

		<div class="clear"></div>
<!--
<div id="navigation">
<div class="wp-pagenavi">
<span class="pages">Page 1 of 2</span><span class="current">1</span><a href="http://jinsonathemes.com/fabs/?themedemo=Womack&amp;paged=2" class="page">2</a><a href="http://jinsonathemes.com/fabs/?themedemo=Womack&amp;paged=2" class="nextpostslink">»</a>
</div>
</div> <!- navigation ->
-->
	</div> <!-- content -->

	<!-- Right Column -->
	<div class="right">
		<div id="RightBox1" class="outside">
			<div class="sidebox">
				<h3 class="sidetitl">Sidebar</h3>
				<ul>
					<li class="cat-item cat-item-3"><a href="/" title="View all">Category 1</a></li>
					<li class="cat-item cat-item-4"><a href="/" title="View all">Category 2</a></li>
				</ul>
			</div> 
		</div>
	</div><!-- right -->

</div> <!-- casing -->
<div class="clear"></div>
</div> <!-- wrapper -->

<!-- stripline -->
<div class="stripline"></div>

<!-- bottom -->
<div class="bottomcover">
<div id="bottom">
	<ul>
		<li class="botwid"><h3 class="bothead">Meta</h3>
		<ul>
			<li><a href="/">Log in</a></li>
			<li><a href="/" title="Syndicate">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
		</ul>
		</li>
		<li id="linkcat-2" class="botwid"><h3 class="bothead">Blogroll</h3>
		<ul class="xoxo blogroll">
			<li><a href="/">Documentation</a></li>
			<li><a href="/">Plugins</a></li>
		</ul>
		</li>
		<li id="archives-3" class="botwid"><h3 class="bothead">Archives</h3>
		<ul>
			<li><a href="/" title="January 2011">January 2011</a></li>
		</ul>
		</li>
	</ul>
<div class="clear"> </div>
</div> <!-- bottom -->
</div> <!-- bottomcover -->







<tal:block tal:condition="true:messages" metal:use-macro="MainMacros.html/Messages" />

<!-- ${php:var_dump(blocks)} -->
<!-- Block: Main -->
<tal:block tal:condition="php:isset(blocks['main'])"
tal:define="
this blocks/main/controller;
params blocks/main/parameters"
metal:use-macro="${blocks/main/template}" />
<!-- /Block: Main -->


</body>
</html>
