<!-- Formatki do edycji pytan -->
<tal:block metal:define-macro="QuestionEditForm">
	<label for="TestQuestionPoints">Punkty <small>(wymagane)</small></label>
	<input type="text" tabindex="1" id="TestQuestionPoints" name="TestQuestionPoints" value="${params/QuestionForm/points|nothing}"/>

	<label for="TestQuestionText">Pytanie <small>(widoczne dla zdającego test)</small></label>
	<textarea tabindex="2" rows="5" name="TestQuestionText">${params/QuestionForm/text|nothing}</textarea><br/>

	<label for="TestQuestionTextTip">Dodatkowe informacje <small>(widoczne jedynie dla oceniającego test)</small></label>
	<textarea tabindex="3" rows="5" name="TestQuestionTextTip">${params/QuestionForm/text|nothing}</textarea><br/>
</tal:block>

<!-- Pytanie otwarte -->
<tal:block metal:define-macro="QuestionEditForm_open">
<div id="QuestionType_open" style="display:none">

	<label for="TestQuestionAnswers">Odpowiedź</label>
	<textarea tabindex="3" rows="5" name="TestQuestionAnswers">${params/QuestionForm/answers|nothing}</textarea><br/>
</div>
</tal:block>

<!-- Pytanie zamknięte -->
<tal:block metal:define-macro="QuestionEditForm_closed">
<style>
ol{
	list-style-type: upper-latin;
/*	line-height:125%;*/
	font-weight: bold;
	font-size:2em;
}
li{
	margin: 5px 0 0 50px;
	/*line-height: 200px;*/
}
#QuestionFormArea li>input{
	width: auto;
}
#QuestionFormArea li>textarea{
	width: 76%;
	height: 60px;
	vertical-align: middle;
}
</style>

<script>
question_closed_func = function() {

	$("#QuestionFormArea li textarea").keyup(function(){
		txt = $("#QuestionFormArea li textarea");
		if(txt[txt.length-1].value!=="")
		{
			$('<li><input type="checkbox" name="TestQuestionAnswerCheck['+txt.length+']" value="On" /><textarea name="TestQuestionAnswer[]"/>&nbsp;</li>')
			.appendTo($("#QuestionFormArea ol"))
			.hide().slideDown()
			.children("textarea").keyup(arguments.callee);
		}
		return false;
	});
};

</script>

<div id="QuestionType_closed" style="display:none">
<label for="TestQuestionAnswers">Odpowiedzi</label>
	<ol name="TestQuestionAnswers">
		<li>
			<input type="checkbox" name="TestQuestionAnswerCheck[0]" value="On" /><textarea name="TestQuestionAnswer[]"/>&nbsp;
		</li>
		<li>
			<input type="checkbox" name="TestQuestionAnswerCheck[1]" value="On" /><textarea name="TestQuestionAnswer[]"/>&nbsp;
		</li>
	</ol>
</div>
</tal:block>